

<img src={{product.image}} alt={{product.name}}>
<p>{{product.name}} is full of expensive organic shit that rich people can afford to have poor people produce.  it costs {{product.cost}}, an amount that would feed an average family of four, but you're not an average asshole, damnit. this jam is {{product.description}}, and you will love it, bitches!</p>
<button {{action 'addToCart' product}}>Add to Cart</button>

 <!-- <button {{action 'delete' product}}>delete jam</button> -->
 <h2>reviews</h2>
 <ul>
   {{#each reviews as |review|}}
   <li>{{#link-to 'review' review.id}}{{review.user}}{{/link-to}}</li>
   {{/each}}
 </ul>
 <hr>
 <!-- {{review-tile review=model}} -->


 <hr>
{{display-cart}}
