<!--

<li>{{product.name}}, {{product.description}}, ${{product.cost}}</li>
<p>
<img src={{product.image}} alt={{product.name}}>
</p> -->

<!-- {{product-detail}}

<button {{action 'addToCart' product}}>Add to Cart</button>
<button {{action 'delete' product}}>delete jam</button>
{{display-cart}} -->
