<!-- <h4>Comments:</h4>
{{#each reviews as |review|}}
  <li>
    Author: {{review.user}} <br>
    Comment: {{review.content}} <br>
    <!-- <button {{action 'deleteComment' comment}}>Delete Comment</button> -->
    <!-- <hr>
  </li>
{{/each}}

<p>{{product.review.user}} {{review.user}} says: {{review.content}}</p>  -->
