<h1>Welcome to Fancy Jams</h1>

<p>
  Buy and eat all the jam!
</p>

<ul>
  {{#each model.products as |product|}}

  {{product-tile product=product destroyProduct="destroyProduct"}}

<li>{{#link-to 'product' product.id}}{{product.name}}{{/link-to}}</li>
  {{/each}}
</ul>

 <!-- <button {{action 'delete' product}}>delete jam</button> -->

{{new-product saveB="saveC"}}

<h2>reviews</h2>
<ul>
  {{#each model.reviews as |review|}}
  <li>{{#link-to 'review' review.id}}{{review.user}}{{/link-to}}</li>
  {{/each}}
</ul>
<hr>

{{display-cart}}

<hr>
