<h1>Welcome to Fancy Jams</h1>

<p>
  Buy and eat all the jam!
</p>

<ul>
  {{#each model.products as |product|}}
  <!-- {{product-tile product=product}} {{product.cost product}} -->
<li>{{#link-to 'product' product.id}}{{product.name}}{{/link-to}}</li>
  {{/each}}
</ul>

<h2>reviews</h2>
<ul>
  {{#each model.reviews as |review|}}
  <li>{{review.user}}</li>
  {{/each}}
</ul>
<hr>

{{display-cart}}

<hr>
