<h1>welcome to reviews</h1>

{{model.user}}, {{model.rating}}<br>
{{model.content}}

{{review-tile review=model}}
<!-- {{new-review save2="save3" product=model}} -->
<!-- might be product=model, not review=model -->
